<div class="row">
  <section class="user_info">
    <%= render 'shared/user_info' %>
  </section>
  <section class="micropost_form">
    <%= render 'shared/micropost_form' %>
  </section>
  <% if @current_user_feed and @current_user_feed.any? %>
    <hr>
    <%= will_paginate @current_user_feed %>
    <ul class="microposts">
      <%= render @current_user_feed %>
    </ul>
    <%= will_paginate @current_user_feed %>
  <% end %>
</div>